# Byte-compiled / cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

reports/business_understanding_requirements_last_mile_delivery.md
reports/business_understanding_thinking_advice.md
reports/Thought_Process_business_understanding.md

# Environment / secrets
.env

# pytest cache
.pytest_cache/